@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.theme-light {
  --dark-text: #5e4b56;
  --accent: #dbe7e4;
  --button-border: #5e4b56;
  --dark-background: #dbe7e4;
  --light-text: #5e4b56;
  --light-background: #eddcd2;
}

@media (prefers-color-scheme: light) {
}
